@model MktAcademy.ViewModels.OrderView
@{
    ViewBag.Title = "New Order";
}

<h2>New Order</h2>
<h3>@ViewBag.Error</h3>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("NewOrder", "Orders", FormMethod.Post)) //passo os parâmetros
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="form-group">
            @Html.LabelFor(model => model.Customer.CustomerID, "Customer Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.Customer.CustomerID, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />


        @Html.ActionLink("Add Course", "AddCourse", new { }, new { @class = "btn btn-primary" })

        <input type="submit" value="Order" id="NewOrder" class="btn btn-success" />
    </div>

    <h2>Order Details</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Quantity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Course.Value)
            </th>
            <th></th>
           
        </tr>

        @for (int i=0; i < Model.Courses.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Courses[i].Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Courses[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Courses[i].Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Courses[i].Value)
                </td>               
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Courses[i].CourseID }) |
                    
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Courses[i].CourseID })
                </td>
            </tr>
        }
    </table>
}





